*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.gradle/
/.idea/
# Project exclude paths
/lib_support/build/
/lib_support/build/intermediates/javac/debug/classes/
/models/build/
/models/build/intermediates/javac/debug/classes/